<app-toolbar></app-toolbar>
<div class="auth-container">
  <div class="auth-card">
    <div class="card-header">
      <h1>Sign In</h1>
      <p>Welcome back to QualiTrack.</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div *ngIf="store.error()" class="alert alert-error">
        <span>{{ store.error() }}</span>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" type="text" formControlName="username" placeholder="Enter your username"
               [class.error]="form.get('username')?.invalid && form.get('username')?.touched" />
        <span class="error-message" *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
          {{ getUsernameError() }}
        </span>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-input-wrapper">
          <input id="password" [type]="hidePassword ? 'password' : 'text'" formControlName="password" placeholder="Enter your password"
                 [class.error]="form.get('password')?.invalid && form.get('password')?.touched" />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
            <span *ngIf="hidePassword">👁️</span>
            <span *ngIf="!hidePassword">🙈</span>
          </button>
        </div>
        <span class="error-message" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
          {{ getPasswordError() }}
        </span>
      </div>

      <button type="submit" class="btn-primary" [disabled]="store.loading()">
        <span *ngIf="!store.loading()">Sign In</span>
        <span *ngIf="store.loading()">Signing in...</span>
      </button>
    </form>

    <div class="footer-link">
      <p>Don't have an account? <br>
        <a (click)="performSignUp('qa-manager')">QA Manager</a>  -  <a (click)="performSignUp('lab-operator')">Lab Operator</a>
      </p>
    </div>
  </div>
</div>
